:root {
  --spruce-green: #3e8f60;
  --white: #fff;
  --lxgw-wenkai-mono-tc: "LXGW WenKai Mono TC", monospace;
  --christmas-red: #d2042d;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--spruce-green);
  font-family: var(--lxgw-wenkai-mono-tc);
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
}

.content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
}

.wavy-top {
  background: var(--white);
  height: 120px;
  padding: 10px;
  --mask: radial-gradient(
        51.61px at 50% calc(100% - 72px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(51.61px at 50% calc(100% + 42px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  width: 100%;
}

.circle-img-container {
  position: relative;
  text-align: center;
  color: var(--christmas-red);
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.circle-img-text {
  position: absolute;
  top: 10%;
  bottom: 25%;
  left: 25%;
  right: 25%;
}

.footer {
  flex-shrink: 0;
}

.wavy-bottom {
  background: var(--white);
  padding: 60px 0;
  height: 80px;
  --mask: radial-gradient(51.61px at 50% 72px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(51.61px at 50% -42px, #0000 99%, #000 101%) 50% 30px/120px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  width: 100%;
}

.tableContainer {
  max-width: fit-content;
}

.footer-link {
  display: block;
  color: var(--spruce-green);
  font-weight: 700;
  margin-bottom: 15px;
}

.square-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
